.acc-head{
    display: flex;
    background-color: aliceblue;
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .acc-head:hover{
    background-color: rgb(219, 219, 219);
  }
  
  .acc-desc{
    display: flex;
    background-color: rgb(207, 207, 207);
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    font-weight: bold;
    align-items: center;
    transition: all 3s;
  }
  
  .acc-head_trigger {
    transition: all .3s;
    font-weight: bolder;
    font-size: larger;
  }

  .acc{
    border: 1px solid rgb(122, 122, 122);
    width: 60%;
    margin:  0 auto;
  }

  .title{
    margin-bottom: 2vh;
  }